.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.db
*.sqlite3
static/uploads/
.venv/
venv/
env/
.DS_Store
*.egg-info/
dist/
build/
.pytest_cache/
# Ignore system and user files
*.json
*.backup
*.config
*.history
*.sessions
*.localized
*.save
Applications/
CLionProjects/
Documents/
Downloads/
IdeaProjects/
Library/
Movies/
Music/
Pictures/
Public/
PyCharmMiscProject/
Screenshot/
Screenshot 2026-04-22 at 8.28.50*/
queryforge/
my-first-app/
resume-analyzer/
easyway-logistics/
nlp-chatbot/
Online-House-Rental-Tenant-Management-System/
